.customeProp {
    height: 500px;
    width: 600px;
}
.chartprop {
    height: 75%;
}
.per {
    font-size: xxx-large;
}
.perBox {
    margin-top: 10px;
}
.flex-container {
    display: flex;
}

.flex-child:first-child {
    margin-right: 20px;
} 